.container {
  text-align: left;
  padding: 1em;
}

.mat-card-content {
  margin-right: auto;
  margin-left: auto;
}

.error-message {
  text-align: center;
}

.operations {
  padding-bottom: 20px;
  padding-top: 4px;
}

.mat-cell:first-of-type {
  padding: 12px 24px;
}

.mat-table {
  .mat-header-cell {
    display: block;
  }

  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 5%;
  }

  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 20%;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    flex: 0 0 20%;
  }

  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 20%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 20%;
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 5%;
  }

  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    flex: 0 0 10%;
    justify-content: flex-end;
  }
}
