<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Regolamento per l'utilizzo della palestra di arrampicata sportiva
        <br />
        Climber's Soul - CAI Arosio
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      @for (rule of rules; track rule.id) {
        @if (rule.parentOrder === null) {
          <p class="mat-body">
            <strong>{{ rule.order }}</strong> - {{ rule.content }}
          </p>
        } @else {
          <p class="mat-body child-rule">
            <strong>{{ rule.parentOrder }}.{{ rule.order }}</strong> - {{ rule.content }}
          </p>
        }
      }
    </mat-card-content>

    <mat-card-footer>
      <a
        mat-raised-button
        color="primary"
        href="assets/regolamento.pdf"
        target="_blank"
        download="ClimbersSoul-Regolamento.pdf"
      >
        <mat-icon fontIcon="download"></mat-icon> Scarica regolamento
      </a>
    </mat-card-footer>
  </mat-card>
</div>
