<div class="container">
  <div class="mat-card-wrapper">
    <mat-card>
      <mat-card-content>
        <div>
          <mat-icon color="primary" fontIcon="location_on"></mat-icon>
        </div>
        <div>
          <p class="mat-body">Palazzetto dello Sport</p>
          <p class="mat-body">Via Michelangelo Buonarroti, 6, 22060 Arosio CO</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-icon color="primary" fontIcon="schedule"></mat-icon>
        </div>
        <div>
          <p class="mat-body">Martedì: dalle 19:15 alle 21:00</p>
          <p class="mat-body">Giovedì: dalle 19:15 alle 21:00</p>
          <p class="mat-body">Verificare e prenotarsi sul <a color="primary" href="./#/scheduler">Calendario</a></p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-icon color="primary" fontIcon="alternate_email"></mat-icon>
        </div>
        <div>
          <p class="mat-body">
            <a href="mailto:climberssoul@caiarosio.it?Subject=Climber's Soul info" target="_top">
              climberssoul&#64;caiarosio.it
            </a>
          </p>
          <p class="mat-body">
            <a href="https://instagram.com/climber_s_soul_caiarosio" target="_blank">Climber's Soul on Instagram</a>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-content>
      <div>
        <mat-icon color="primary" fontIcon="question_mark"></mat-icon>
      </div>
      <div>
        <p class="mat-body">
          <b>Posso venire in palestra senza prenotarmi?</b>
        </p>
        <p class="mat-body">
          No: per ragioni organizzative e per le attuali dimensioni della palestra è necessario prenotarsi sul
          calendario.
          <br />
          Nel caso estremo in cui tutti i posti sono prenotati, chi si presenta senza prenotazione non potrà utilizzare
          la palastra
        </p>
        <br />
        <p class="mat-body">
          <b>Quanto costa l'ingresso?</b>
        </p>
        <p class="mat-body">
          L'utilizzo della palestra ha un costo di 4€ per l'ingresso singolo, a persona
          <br />
          È anche possibile acquistare un carnet da 5 ingressi a 15€, valido per tutta la stagione (fine Aprile 2024)
          <br />
          Gli ingressi sono acquistabili direttamente in palestra
        </p>
        <br />
        <p class="mat-body">
          <b>Cosa devo portare?</b>
        </p>
        <p class="mat-body">
          Imbrago, scarpette, corda, dispositivo di frenata assistita (Grigri o simili), almeno 3 rinvii
        </p>
        <br />
        <p class="mat-body">
          <b>È possibile noleggiare l'attrezzatura?</b>
        </p>
        <p class="mat-body">No: al momento la palestra non offre questa possibilità</p>
        <br />
        <p class="mat-body">
          <b>Ho trovato un problema / ho dei suggerimenti per il sito</b>
        </p>
        <p class="mat-body">
          Contattaci per indicare come e dove possiamo migliorare
          <br />
          Il sito inoltre è open source! Puoi trovare il codice su GitHub sia per il
          <a href="https://github.com/atomheartdani/climbers-soul-caiarosio" target="_blank">frontend</a> che per il
          <a href="https://github.com/atomheartdani/climbers-soul-caiarosio-backend" target="_blank">backend</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
