@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 1em;
}

mat-card {
  flex-basis: 40%;
  max-width: 700px;

  @media (max-width: 1201px) {
    flex-basis: 50%;
  }

  @media (max-width: 992px) {
    flex-basis: 60%;
  }

  @media (max-width: 768px) {
    flex-basis: 80%;
  }

  @media (max-width: 576px) {
    flex-basis: 100%;
  }
}

mat-card-title {
  text-align: center;
}

mat-card-content {
  text-align: justify;
}

.mat-h2 {
  text-align: center;
}

form {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-form-field {
  flex-basis: 100%;
  margin-bottom: 6px;
}

.full-width {
  flex-basis: 100%;
}

.mat-stepper-next {
  margin-top: 30px;
}

.margin-top-16 {
  margin-top: 16px;
}

.password-error {
  color: mat.get-color-from-palette($app-warn);
}

a {
  color: mat.get-color-from-palette($app-primary);
  text-decoration: none;
}

.fake-form-field {
  padding-bottom: 1.34375em;
}
