<h1 class="mat-h1" *ngIf="user.id === 0">Nuovo utente</h1>
<h1 class="mat-h1" *ngIf="user.id !== 0">Dettaglio {{ user.username }}</h1>
<mat-dialog-content>
  <form [formGroup]="detailForm">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Nome</mat-label>
        <input matInput id="firstname" formControlName="firstname" />
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Cognome</mat-label>
        <input matInput id="lastname" formControlName="lastname" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" fxFlex="60" fxFlex.sm="80" fxFlex.md="70">
        <mat-label>Username</mat-label>
        <input matInput id="username" formControlName="username" />
        <mat-error *ngIf="detailForm.get('username')?.hasError('usernameAlreadyExists')">
          Username gia' in uso
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" fxFlex="60" fxFlex.sm="80" fxFlex.md="70">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="fake-form-field">
      <mat-slide-toggle color="primary" labelPosition="before" formControlName="tosConsent">
        Regolamento accettato
      </mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="save()"
    [disabled]="detailForm.invalid || detailForm.pristine || isProgressing"
  >
    Salva
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="setAdmin(true)"
    *ngIf="!user.isAdmin && user.id !== 0"
    [disabled]="detailForm.invalid || isProgressing"
  >
    Imposta come Admin
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="setAdmin(false)"
    *ngIf="user.isAdmin"
    [disabled]="detailForm.invalid || isProgressing || isMyself"
  >
    Rimuovi da Admin
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="setUpdatePassword()"
    *ngIf="!user.updatePassword"
    [disabled]="detailForm.invalid || isProgressing"
  >
    Forza Aggiornamento Password
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button mat-raised-button color="primary" tabindex="-1" (click)="close()">Annulla</button>
</mat-dialog-actions>
