@if (user.id === 0) {
  <h1 mat-dialog-title>Nuovo utente</h1>
} @else {
  <h1 mat-dialog-title>Dettaglio {{ user.username }}</h1>
}
<mat-dialog-content class="padding-top-20">
  <form [formGroup]="detailForm">
    <div class="column-layout">
      <div class="row-layout">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput id="firstname" formControlName="firstname" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cognome</mat-label>
          <input matInput id="lastname" formControlName="lastname" />
        </mat-form-field>
      </div>
      <div class="row-layout">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput id="username" formControlName="username" />
          @if (detailForm.get('username')?.hasError('usernameAlreadyExists')) {
            <mat-error>Username gia' in uso</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" />
        </mat-form-field>
      </div>
      <div class="row-layout">
        <mat-form-field>
          <mat-label>Sezione CAI</mat-label>
          <input matInput id="caiSection" formControlName="caiSection" />
        </mat-form-field>
      </div>
      <div class="row-layout">
        <div class="fake-form-field">
          <mat-slide-toggle color="primary" labelPosition="before" formControlName="tosConsent">
            Regolamento accettato
          </mat-slide-toggle>
        </div>
        @if (!this.user.isVerified) {
          <div class="fake-form-field">
            <mat-slide-toggle color="primary" labelPosition="before" formControlName="isVerified">
              Verificato
            </mat-slide-toggle>
          </div>
        }
      </div>
      <div>
        <h2 class="mat-h2">Amministrazione</h2>
      </div>
      <div class="row-layout">
        <div class="fake-form-field">
          <mat-slide-toggle color="primary" labelPosition="before" formControlName="canManageOpenings">
            Può gestire le aperture
          </mat-slide-toggle>
        </div>
        <div class="fake-form-field">
          <mat-slide-toggle color="primary" labelPosition="before" formControlName="canManageUsers">
            Può gestire gli utenti
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="save()"
    [disabled]="detailForm.invalid || detailForm.pristine || isProgressing"
  >
    Salva
    @if (isProgressing) {
      <mat-icon class="icon-spin" aria-label="Refresh">refresh</mat-icon>
    }
  </button>

  @if (!user.updatePassword) {
    <button
      mat-raised-button
      color="primary"
      tabindex="-1"
      (click)="setUpdatePassword()"
      [disabled]="detailForm.invalid || isProgressing"
    >
      Forza Aggiornamento Password
      @if (isProgressing) {
        <mat-icon class="icon-spin" aria-label="Refresh">refresh</mat-icon>
      }
    </button>
  }

  <button mat-raised-button color="primary" tabindex="-1" (click)="close()">Annulla</button>
</mat-dialog-actions>
