@use "@angular/material" as mat;
@import "src/theme/theme-variables";

b {
  color: mat.get-color-from-palette($app-primary);
}

a {
  color: mat.get-color-from-palette($app-primary);
  text-decoration: none;
}
