<mat-card>
  <mat-card-content>
    <div>
      <mat-icon fontIcon="question_mark" />
    </div>
    <div>
      <p>
        <b>Posso venire in palestra senza prenotarmi?</b>
      </p>
      <p>
        No: per ragioni organizzative e per le attuali dimensioni della palestra è necessario prenotarsi sul calendario.
        <br />
        Nel caso estremo in cui tutti i posti sono prenotati, chi si presenta senza prenotazione non potrà utilizzare la
        palestra
      </p>
      <br />
      <p>
        <b>Quanto costa l'ingresso?</b>
      </p>
      <p>
        L'utilizzo della palestra ha un costo di 4€ per l'ingresso singolo, a persona
        <br />
        È anche possibile acquistare un carnet da 5 ingressi a 15€, valido per tutta la stagione (fine Aprile
        {{ seasonYear }})
        <br />
        Gli ingressi sono acquistabili direttamente in palestra
      </p>
      <br />
      <p>
        <b>Cosa devo portare?</b>
      </p>
      <p>Imbrago, scarpette, corda, dispositivo di frenata assistita (Grigri o simili), almeno 3 rinvii</p>
      <br />
      <p>
        <b>È possibile noleggiare l'attrezzatura?</b>
      </p>
      <p>No: al momento la palestra non offre questa possibilità</p>
      <br />
      <p>
        <b>Ho trovato un problema / ho dei suggerimenti per il sito</b>
      </p>
      <p>
        Contattaci per indicare come e dove possiamo migliorare
        <br />
        Il sito inoltre è open source! Puoi trovare il codice su GitHub sia per il
        <a href="https://github.com/atomheartdani/climbers-soul-caiarosio" target="_blank">frontend</a> che per il
        <a href="https://github.com/atomheartdani/climbers-soul-caiarosio-backend" target="_blank">backend</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
