<h1 class="mat-h1" *ngIf="opening.id === 0">Nuova apertura</h1>
<h1 class="mat-h1" *ngIf="opening.id !== 0">Dettaglio del {{ opening.date }}</h1>
<mat-dialog-content>
  <form [formGroup]="detailForm">
    <div>
      <mat-form-field appearance="outline" *ngIf="opening.id === 0">
        <mat-label>Giorno apertura</mat-label>
        <input
          matInput
          id="date"
          formControlName="date"
          [matDatepicker]="openingDatePicker"
          (dateChange)="changeData($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="openingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #openingDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <mat-form-field appearance="outline">
        <mat-label>Orario apertura</mat-label>
        <input matInput id="from" formControlName="from" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Orario chiusura</mat-label>
        <input matInput id="to" formControlName="to" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Posti disponibili max</mat-label>
        <input matInput id="maxReservations" formControlName="maxReservations" type="number" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Evento speciale</mat-label>
        <input matInput id="special" formControlName="special" />
      </mat-form-field>
    </div>
    <div *ngIf="opening.id !== 0">
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Persone prenotate</mat-label>
        <input matInput id="fake" disabled *ngIf="opening.reservations.length === 0" />
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let user of userList"> {{ user.firstname }} {{ user.lastname }} </mat-chip>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    tabindex="-1"
    (click)="save()"
    [disabled]="detailForm.invalid || detailForm.pristine || isProgressing"
  >
    Ok
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button mat-raised-button color="primary" tabindex="-1" (click)="close()">Annulla</button>
</mat-dialog-actions>
