form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.multi-field-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.mat-chip {
  width: unset !important;
}

.mat-form-field {
  flex: 1 1 0;
}
