<mat-card>
  <mat-card-content>
    <div>
      <mat-icon color="primary" fontIcon="alternate_email"></mat-icon>
    </div>
    <div>
      <p class="mat-body">
        <a href="mailto:climberssoul@caiarosio.it?Subject=Climber's Soul info" target="_top">
          climberssoul&#64;caiarosio.it
        </a>
      </p>
      <p class="mat-body">
        <a href="https://instagram.com/climber_s_soul_caiarosio" target="_blank">Climber's Soul on Instagram</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
