<mat-toolbar class="mat-elevation-z6 navbar">
  <div class="flex-hide-gt-sm">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon fontIcon="menu" />
    </button>
  </div>

  <a class="brand" routerLink="/home">Climber's Soul CAI Arosio</a>

  <div class="flex-hide-lt-sm">
    <button matButton routerLink="/home" routerLinkActive="active">
      <mat-icon fontIcon="home" />
      <span>Home</span>
    </button>
    <button matButton routerLink="/scheduler" routerLinkActive="active">
      <mat-icon fontIcon="calendar_month" />
      <span>Calendario</span>
    </button>
    <button matButton routerLink="/rules" routerLinkActive="active">
      <mat-icon fontIcon="rule" />
      <span>Regolamento</span>
    </button>
    <button matButton routerLink="/about" routerLinkActive="active">
      <mat-icon fontIcon="info" />
      <span>Informazioni</span>
    </button>
    @if (canManageUsers) {
      <button matButton routerLink="/users" routerLinkActive="active">
        <mat-icon fontIcon="person" />
        <span>Utenti</span>
      </button>
    }
  </div>

  <span class="flex-flex"></span>

  <span class="flex-hide-lt-sm">{{ firstname }}</span>

  @if (username === null) {
    <button matButton (click)="login()">Login</button>
  } @else {
    <button matIconButton [matMenuTriggerFor]="userMenu">
      <mat-icon fontIcon="person" />
    </button>
  }

  <mat-menu #userMenu="matMenu">
    @if (username !== null) {
      <div mat-menu-item class="unclickable">
        <span>Autenticato come</span><br /><b>{{ username }}</b>
      </div>

      <mat-divider />

      <button mat-menu-item (click)="logout()">Uscire</button>
    }
  </mat-menu>
</mat-toolbar>
