@use "@angular/material" as mat;
@use "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @media (max-width: 992px) {
    padding: 0;
  }
}

.brand {
  color: mat.m2-get-color-from-palette(theme-variables.$app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.mat-menu-item {
  font-size: 16px;
}

.flex-flex {
  flex: 1 1 0%;
}

.flex-hide-gt-sm {
  @media (min-width: 992px) {
    display: none;
  }
}

.flex-hide-lt-sm {
  @media (max-width: 992px) {
    display: none;
  }
}
