@use "@angular/material" as mat;

:host {
  @include mat.icon-overrides(
    (
      color: light-dark(var(--mat-sys-on-primary), var(--mat-sys-primary)),
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: light-dark(var(--mat-sys-primary), var(--mat-sys-surface)),
      container-text-color: light-dark(var(--mat-sys-on-primary), var(--mat-sys-primary)),
    )
  );
}

button {
  font-size: 14px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include mat.elevation(5);

  @media (max-width: 992px) {
    padding: 0;
  }
}

.brand {
  color: light-dark(var(--mat-sys-on-primary), var(--mat-sys-primary));
  padding-right: 1rem;
}

.flex-flex {
  flex: 1 1 0%;
}

.flex-hide-gt-sm {
  @media (min-width: 992px) {
    display: none;
  }
}

.flex-hide-lt-sm {
  @media (max-width: 992px) {
    display: none;
  }
}
