<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div class="flex-hide-gt-sm">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </div>

  <a class="brand" routerLink="/home">Climber's Soul CAI Arosio</a>

  <div class="flex-hide-lt-sm">
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon fontIcon="home"></mat-icon>
      <span>Home</span>
    </button>
    <button mat-button routerLink="/scheduler" routerLinkActive="active">
      <mat-icon fontIcon="calendar_month"></mat-icon>
      <span>Calendario</span>
    </button>
    <button mat-button routerLink="/rules" routerLinkActive="active">
      <mat-icon fontIcon="rule"></mat-icon>
      <span>Regolamento</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon fontIcon="info"></mat-icon>
      <span>Informazioni</span>
    </button>
    @if (canManageUsers) {
      <button mat-button routerLink="/users" routerLinkActive="active">
        <mat-icon fontIcon="person"></mat-icon>
        <span>Utenti</span>
      </button>
    }
  </div>

  <span class="flex-flex"></span>

  <span class="flex-hide-lt-sm">{{ firstname }}</span>

  @if (username === null) {
    <button mat-button (click)="login()">Login</button>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon fontIcon="person"></mat-icon>
    </button>
  }

  <mat-menu #userMenu="matMenu">
    @if (username !== null) {
      <mat-list>
        <mat-list-item>
          <span>Autenticato come</span><br /><b>{{ username }}</b>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <button mat-menu-item (click)="logout()">Uscire</button>
    }
  </mat-menu>
</mat-toolbar>
