@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: mat.get-color-from-palette($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.mat-menu-item {
  font-size: 16px;
}

.menu-button {
  margin-right: 1rem;
}

.start-center {
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.flex-flex {
  flex: 1 1 0%;
}

.flex-hide-gt-sm {
  @media (min-width: 992px) {
    display: none;
  }
}

.flex-hide-lt-sm {
  @media (max-width: 992px) {
    display: none;
  }
}
