.container {
  margin-bottom: 50px;
  min-width: 1000px;
}

.error-message {
  text-align: center;
}

.fake-mat-card {
  background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
  border-top-left-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
  border-top-right-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
  box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level1));
  overflow: hidden !important;
}

mat-table {
  .mat-mdc-header-cell {
    padding-top: 20px;

    mat-label {
      font-size: 14px;
      font-weight: bold;
    }
  }

  mat-row:hover {
    background-color: light-dark(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.2));
  }

  .mat-column-tosConsent {
    flex: 0 0 5%;
  }

  .mat-column-actions {
    flex: 0 0 10%;
    justify-content: center;
  }
}

mat-paginator {
  background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
  border-bottom-left-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
  border-bottom-right-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
  box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level1));
}
