@import "src/theme/theme-variables";

.container {
  padding: 16px;
}

.group {
  padding-bottom: 20px;
}

.load-all {
  padding-top: 24px;
}

.mat-divider {
  border-top-color: mat-color($app-primary);
  border-top-width: 2px;
}

.mat-fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.mat-h2 {
  line-height: unset;
}

.mat-h3 {
  margin: 50px 0;
  text-align: center;
}
