@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.container {
  padding: 16px;
}

.group {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  padding-bottom: 40px;
}

.openings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px -16px -16px 0px;
  width: 100%;
}

.opening-wrapper {
  flex-basis: 20%;
  max-width: 20%;
  padding: 0px 16px 16px 0px;

  @media (max-width: 1201px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  @media (max-width: 992px) {
    flex-basis: 33%;
    max-width: 33%;
  }

  @media (max-width: 768px) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @media (max-width: 576px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.load-all {
  padding: 20px 0 36px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.mat-divider {
  border-color: mat.get-color-from-palette($app-primary);
  border-width: 2px 0;
  width: 100%;
}

.mdc-fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.mat-h2 {
  line-height: unset;
  margin: 0;
}

.mat-h3 {
  margin: 50px 0;
  text-align: center;
}
