<div class="container mat-typography">
  <div>
    <h1>Climber's Soul CAI Arosio</h1>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>È necessario aggiornare la tua password</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="updatePassword()" [formGroup]="form" novalidate>
        <mat-form-field [hideRequiredMarker]="true">
          <input
            type="password"
            matInput
            formControlName="oldPassword"
            autocomplete="current-password"
            [placeholder]="'Vecchia Password'"
            required
          />
          @if (form.controls['oldPassword'].invalid && form.controls['oldPassword'].touched) {
            <mat-error>
              <span>La vecchia password è obbligatoria</span>
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <input type="password" matInput formControlName="newPassword1" [placeholder]="'Nuova Password'" required />
          @if (form.controls['newPassword1'].invalid && form.controls['newPassword1'].touched) {
            <mat-error>
              <span>La nuova password è obbligatoria e deve essere lunga almeno {{ pwdMinLength }} caratteri </span>
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <input type="password" matInput formControlName="newPassword2" [placeholder]="'Conferma Password'" required />
          @if (form.controls['newPassword2'].invalid && form.controls['newPassword2'].touched) {
            <mat-error>
              <span>La nuova password è obbligatoria e deve essere lunga almeno {{ pwdMinLength }} caratteri</span>
            </mat-error>
          }
        </mat-form-field>

        @if (form.errors?.['passwordsDontMatch']) {
          <div class="error-message">
            <span>La nuova password e la password di conferma non corrispondono</span>
          </div>
        }

        <br />

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          <span>Aggiorna Password</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
