<div class="container mat-typography">
  <div>
    <h1 translate>APP_NAME</h1>
  </div>
  <div class="update-password-container">
    <mat-card class="update-password-box">
      <form (ngSubmit)="updatePassword()" [formGroup]="updatePasswordForm" novalidate>
        <div>
          <h3 class="update-password-header">È necessario aggiornare la tua password</h3>
        </div>
        <br />
        <div class="update-password-fields">
          <mat-form-field [hideRequiredMarker]="true">
            <input
              type="password"
              matInput
              formControlName="oldPassword"
              autocomplete="current-password"
              [placeholder]="'Vecchia Password'"
              required
            />
            <mat-error
              *ngIf="
                updatePasswordForm.controls['oldPassword'].invalid && updatePasswordForm.controls['oldPassword'].touched
              "
            >
              <span>La vecchia password è obbligatoria</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input type="password" matInput formControlName="newPassword1" [placeholder]="'Nuova Password'" required />
            <mat-error
              *ngIf="
                updatePasswordForm.controls['newPassword1'].invalid &&
                updatePasswordForm.controls['newPassword1'].touched
              "
            >
              <span>La nuova password è obbligatoria e deve essere lunga almeno {{ pwdMinLength }} caratteri </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input
              type="password"
              matInput
              formControlName="newPassword2"
              [placeholder]="'Conferma Password'"
              required
            />
            <mat-error
              *ngIf="
                updatePasswordForm.controls['newPassword2'].invalid &&
                updatePasswordForm.controls['newPassword2'].touched
              "
            >
              <span>La nuova password è obbligatoria e deve essere lunga almeno {{ pwdMinLength }} caratteri</span>
            </mat-error>
          </mat-form-field>
          <div class="update-password-error" *ngIf="updatePasswordForm.errors?.['passwordsDontMatch']">
            <span>La nuova password e la password di conferma non corrispondono</span>
          </div>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="updatePasswordForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Aggiorna Password</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
