<h1 class="mat-h1">Prenota posto</h1>
<mat-dialog-content>
  <p class="mat-body">Stai per prenotarti per questo slot:</p>
  <p class="mat-body">{{ opening.date }} dalle {{ opening.from }} alle {{ opening.to }}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" tabindex="-1" (click)="save()" [disabled]="isProgressing">
    Ok
    <mat-icon class="icon-spin" aria-label="Refresh" *ngIf="isProgressing">refresh</mat-icon>
  </button>
  <button mat-raised-button color="primary" tabindex="-1" (click)="close()">Annulla</button>
</mat-dialog-actions>
