<h1 mat-dialog-title>Prenota posto</h1>
<mat-dialog-content>
  <p class="mat-body">Stai per prenotarti per questo slot:</p>
  <p class="mat-body">{{ opening.date }} dalle {{ opening.from }} alle {{ opening.to }}</p>
  <p class="mat-body">Vuoi prenotare anche per il tuo socio di arrampicata?</p>
  <mat-radio-group [(ngModel)]="reservePartner">
    <mat-radio-button class="mat-body" color="primary" labelPosition="before" tabindex="-1" [value]="true">
      Si
    </mat-radio-button>
    <mat-radio-button class="mat-body" color="primary" labelPosition="before" tabindex="-1" [value]="false">
      No
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" tabindex="-1" (click)="save()" [disabled]="isProgressing">
    Ok
    @if (isProgressing) {
      <mat-icon class="icon-spin" aria-label="Refresh">refresh</mat-icon>
    }
  </button>
  <button mat-raised-button color="primary" tabindex="-1" (click)="close()">Annulla</button>
</mat-dialog-actions>
