<mat-card>
  <img class="logo" src="assets/logo-climberssoul.png" alt="Logo Climber's Soul" />

  <mat-card-header>
    <mat-card-title>
      <h2>Climber's Soul</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>La palestra di arrampicata del <a href="https://www.caiarosio.it/" target="_blank">CAI Arosio</a></h3>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content id="wallWrapper">
    <app-wall imageUrl="assets/parete1.jpg" />
    <app-wall imageUrl="assets/parete2.jpg" />
    <app-wall imageUrl="assets/parete3.jpg" />
    <app-wall imageUrl="assets/parete4.jpg" />
  </mat-card-content>
</mat-card>
