.container {
  text-align: center;
  padding: 1em;
}

.logo {
  margin: 0 auto;
  max-width: 900px;
  width: 50vw;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

@media (max-width: 599.98px) {
  .logo {
    width: 100vw;
  }
}
@media (min-width: 600px) and (max-width: 959.98px) {
  .logo {
    width: 70vw;
  }
}

mat-card-title {
  padding-top: 8px;
}

mat-card-subtitle {
  padding-bottom: 8px;
}

#wallWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}
