.logo {
  margin: 1em auto;
  max-width: 850px;
  width: 50vw;
}

@media (max-width: 599.98px) {
  .logo {
    width: 100vw;
  }
}
@media (min-width: 600px) and (max-width: 959.98px) {
  .logo {
    width: 70vw;
  }
}

mat-card {
  margin: 1em;
  text-align: center;
}

mat-card-header {
  font-style: italic;
  padding: 16px 8px;
}

#wallWrapper {
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
