<mat-card>
  <img class="logo" src="assets/logo-climberssoul.png" alt="Logo Climber's Soul" />

  <mat-card-header>
    <mat-card-title>
      <p class="mat-h2">Climber's Soul</p>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="mat-h3">
        La palestra di arrampicata del <a href="https://www.caiarosio.it/" target="_blank">CAI Arosio</a>
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div id="wallWrapper">
      <app-wall imageUrl="assets/parete1.jpg"></app-wall>
      <app-wall imageUrl="assets/parete2.jpg"></app-wall>
      <app-wall imageUrl="assets/parete3.jpg"></app-wall>
      <app-wall imageUrl="assets/parete4.jpg"></app-wall>
    </div>
  </mat-card-content>
</mat-card>
