@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
}

.logo {
  margin: 0 auto;
  max-width: 900px;
  width: 50vw;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

@media ($mat-xsmall) {
  .logo {
    width: 100vw;
  }
}
@media ($mat-small) {
  .logo {
    width: 70vw;
  }
}

mat-card-title {
  padding-top: 8px;
}

mat-card-subtitle {
  padding-bottom: 8px;
}

#wallWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}
