<mat-card>
  <mat-card-header>
    <mat-card-title> {{ opening.date | dateWithDayName }} </mat-card-title>
    @if (!isAfterCutoff && !isSpecialEvent) {
      <mat-icon [fontIcon]="icon" [class]="icon" />
    }
  </mat-card-header>
  <mat-card-content>
    <p>{{ description1 }}</p>
    <p>{{ description2 }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    @if (canManageOpenings) {
      <button matButton="tonal" (click)="manage()">Gestisci</button>
    }
    @if (!isLoggedUserAlreadyReserved && !isSpecialEvent) {
      <button matButton="tonal" [disabled]="spaceFull || isSpecialEvent || !isReservable" (click)="insertReservation()">
        Prenotati
      </button>
    }
    @if (isLoggedUserAlreadyReserved) {
      <button matButton="tonal" (click)="removeReservation()">Annulla prenotazione</button>
    }
  </mat-card-actions>
</mat-card>
