mat-card-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.check_circle {
  color: green;
}

.warning {
  color: orange;
}

.dangerous {
  color: red;
}

.special-event {
  background-color: #ffd580;
}
