<mat-card [ngClass]="{ 'special-event': isSpecialEvent }">
  <mat-card-header>
    <mat-card-title> {{ opening.date }} </mat-card-title>
    <mat-icon [fontIcon]="icon" [class]="icon" *ngIf="!isAfterCutoff && !isSpecialEvent"></mat-icon>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-body">{{ description1 }}</p>
    <p class="mat-body">{{ description2 }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="manage()" *ngIf="canManageOpenings">Gestisci</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="spaceFull || isSpecialEvent || !isReservable"
      (click)="insertReservation()"
      *ngIf="!isLoggedUserAlreadyReserved"
    >
      Prenotati
    </button>
    <button mat-raised-button color="primary" (click)="removeReservation()" *ngIf="isLoggedUserAlreadyReserved">
      Annulla prenotazione
    </button>
  </mat-card-actions>
</mat-card>
