<mat-card [ngClass]="{ 'special-event': isSpecialEvent }" [matTooltip]="tooltip">
  <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card-title> {{ opening.date }} </mat-card-title>
    <mat-icon
      aria-label="avaiable"
      fontIcon="check_circle"
      class="avaiable"
      *ngIf="spaceAvaiable && !isSpecialEvent"
    ></mat-icon>
    <mat-icon
      aria-label="almost full"
      fontIcon="warning"
      class="almost-full"
      *ngIf="spaceAlmostFull && !isSpecialEvent"
    ></mat-icon>
    <mat-icon aria-label="full" fontIcon="dangerous" class="full" *ngIf="spaceFull && !isSpecialEvent"></mat-icon>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-body">Orari: {{ opening.from }} - {{ opening.to }}</p>
    <p class="mat-body" *ngIf="!isSpecialEvent">Posti disponibili: {{ remainingSpaces }}</p>
    <p class="mat-body" *ngIf="isSpecialEvent">{{ opening.special }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="manage()" *ngIf="canManageOpenings">Gestisci</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="spaceFull || isSpecialEvent || !isReservable"
      (click)="insertReservation()"
      *ngIf="!isLoggedUserAlreadyReserved"
    >
      Prenotati
    </button>
    <button mat-raised-button color="primary" (click)="removeReservation()" *ngIf="isLoggedUserAlreadyReserved">
      Annulla prenotazione
    </button>
  </mat-card-actions>
</mat-card>
